# coding: utf-8

"""
    Vintrace V6 API

    The vintrace API aims to make integrating vintrace into your application, quick and easy. Each vintrace customer has a different base API URL. If you are setting up an integration with vintrace,  please contact support@vintrace.com with the customer name you are integrating with and we can supply you with the connection URL. Requests should include **Accept: application/json** ## Pagination The vintrace REST API uses pagination to improve performance. Pagination is enforced for operations that could return a large collection of items. When you make a request to a paginated resource, the response wraps the returned array of values in a JSON object with paging metadata. For example: ``` json {     \"firstResult\" : 0,     \"maxResult\" : 20,     \"totalResultCount\": 200,     \"nextURLPath\": \"/mob/api/v/endpoint-path?firstResult=20&maxResult=20\",     \"prevURLPath\": null,     \"results\": [         { /* result 0 */ },         { /* result 1 */ },         { /* result 2 */ }     ] } ``` * **firstResult**: The index of the first item returned in the page. * **maxResult**: The maximum number of items that a page can return. Some operations might have a limit for the number of items returned, and these limits may change without notice.    To find the maximum number of items that an operation could return, set maxResult to a large number—for example, over 1000—and if the returned value of maxResult is less than the requested value, the returned value is the maximum.  * **totalResultCount**: The total number of items contained in all pages. * **nextURLPath**: The API path that will return the next page of data. If not included, this is the last page of data. * **prevURLPath**: The API path that will return the previous page of data. If not included, this is the first page of data. Sample request: `https://demo.vinx2.net/mob/api/v/products/list?firstResult=10&maxResult=20` If **firstResult** is not included in the request it will be defaulted to **0** If **maxResult** is not included in the request it will be defaulted to **20**. Please note that some legacy endpoints have a different default for maxResult which can be found in the endpoint's documentation. ---  # noqa: E501

    OpenAPI spec version: 1.0.0
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""

from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from swagger_client.api_client import ApiClient


class BulkWineApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def list_available_products(self, **kwargs):  # noqa: E501
        """List available products  # noqa: E501

        Returns a list of all active products.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.list_available_products(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str barcode: Can either be the vessel code or the asset ID.
        :param str max: The starting index of results. Default: 100.
        :param str first: The starting index of results.
        :param bool skip_metrics: False by default,if true will not include the metric data in the results.
        :return: ProductListResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.list_available_products_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.list_available_products_with_http_info(**kwargs)  # noqa: E501
            return data

    def list_available_products_with_http_info(self, **kwargs):  # noqa: E501
        """List available products  # noqa: E501

        Returns a list of all active products.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.list_available_products_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str barcode: Can either be the vessel code or the asset ID.
        :param str max: The starting index of results. Default: 100.
        :param str first: The starting index of results.
        :param bool skip_metrics: False by default,if true will not include the metric data in the results.
        :return: ProductListResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['barcode', 'max', 'first', 'skip_metrics']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method list_available_products" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'barcode' in params:
            query_params.append(('barcode', params['barcode']))  # noqa: E501
        if 'max' in params:
            query_params.append(('max', params['max']))  # noqa: E501
        if 'first' in params:
            query_params.append(('first', params['first']))  # noqa: E501
        if 'skip_metrics' in params:
            query_params.append(('skipMetrics', params['skip_metrics']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/products/list', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='ProductListResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def transaction_search(self, **kwargs):  # noqa: E501
        """Transaction search  # noqa: E501

        Returns a list of all operations. These are the same transactions that get generated from Work Detail Report in vintrace.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.transaction_search(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str date_from: Format in YYYY-MM-DD format. Defaults to current date if not provided. Search for operations completed on or after this date.
        :param str date_to: Format in YYYY-MM-DD format.  Defaults to current date if not provided. Search for operations completed on or before this date.
        :param str owner_name: String that matches the owner name.
        :param str batch_name: String that matches the batch name.
        :param str winery_name: String that matches the winery name.
        :return: TransactionSummaryResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.transaction_search_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.transaction_search_with_http_info(**kwargs)  # noqa: E501
            return data

    def transaction_search_with_http_info(self, **kwargs):  # noqa: E501
        """Transaction search  # noqa: E501

        Returns a list of all operations. These are the same transactions that get generated from Work Detail Report in vintrace.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.transaction_search_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str date_from: Format in YYYY-MM-DD format. Defaults to current date if not provided. Search for operations completed on or after this date.
        :param str date_to: Format in YYYY-MM-DD format.  Defaults to current date if not provided. Search for operations completed on or before this date.
        :param str owner_name: String that matches the owner name.
        :param str batch_name: String that matches the batch name.
        :param str winery_name: String that matches the winery name.
        :return: TransactionSummaryResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['date_from', 'date_to', 'owner_name', 'batch_name', 'winery_name']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method transaction_search" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'date_from' in params:
            query_params.append(('dateFrom', params['date_from']))  # noqa: E501
        if 'date_to' in params:
            query_params.append(('dateTo', params['date_to']))  # noqa: E501
        if 'owner_name' in params:
            query_params.append(('ownerName', params['owner_name']))  # noqa: E501
        if 'batch_name' in params:
            query_params.append(('batchName', params['batch_name']))  # noqa: E501
        if 'winery_name' in params:
            query_params.append(('wineryName', params['winery_name']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/transaction/search/', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='TransactionSummaryResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def update_a_product(self, **kwargs):  # noqa: E501
        """Update a product  # noqa: E501

        To update a product, you need to provide the `productId` of the product. The propertyTypes that are available to be updated from this endpoint Grading, ProductState, Program, ProductCategory, Varietal, Region, Vintage, Description. You can query for the `propertyId` of the propertyType by using the /search endpoint.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.update_a_product(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param ProductUpdateData body:
        :return: ProductUpdateResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.update_a_product_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.update_a_product_with_http_info(**kwargs)  # noqa: E501
            return data

    def update_a_product_with_http_info(self, **kwargs):  # noqa: E501
        """Update a product  # noqa: E501

        To update a product, you need to provide the `productId` of the product. The propertyTypes that are available to be updated from this endpoint Grading, ProductState, Program, ProductCategory, Varietal, Region, Vintage, Description. You can query for the `propertyId` of the propertyType by using the /search endpoint.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.update_a_product_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param ProductUpdateData body:
        :return: ProductUpdateResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method update_a_product" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/product-update', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='ProductUpdateResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
